.post-comments {
  margin-bottom: 10px;
  border: 1px #ccc dashed;
  border-radius: 3px;
  padding: 5px;
}

.ava-40 {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-top: 10px;
}

.ava-80 {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  margin-top: 10px;
}
