<div>
  <button *ngIf="!isContenteditable" (click)="isContenteditable = true">Toggle to edit mode</button>
</div>
<div>
  <button *ngIf="isContenteditable" (click)="isContenteditable = false">Toggle to read mode</button>
</div>
<div>
  <button (click)="save()">Save</button>
  <span style="font-style: italic; margin-left: 20px;">{{ message }}</span>
</div>
<div [formGroup]="form">
  <div><img [src]="post.pathAva" class="ava-40" /> {{ post.userName }}</div>
  <h1 formControlName="postTitle" [contenteditable]="isContenteditable" class="post-title"></h1>
  <div formControlName="postLead" [contenteditable]="isContenteditable" class="post-lead"></div>
  <div formControlName="postBody" [contenteditable]="isContenteditable" class="post-body"></div>
</div>
<hr>
<a routerLink="comments">Comments ({{post.countComments}}) »</a>