.post-title, .post-lead, .post-body {
  padding: 5px;
}

.post-lead {
  border: 1px #ccc dashed;
  margin-bottom: 10px;
}

.post-title[contenteditable=true],
.post-lead[contenteditable=true],
.post-body[contenteditable=true] {
  border-left: 3px green double;
  border-radius: 3px;
}

.ava-40 {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-top: 10px;
}
