<p>
  Press <code>Ctrl+Shift+I</code> and see the console.
</p>
<p>
  This component created with <a href="https://angular.io/api/router/Resolve" target="_blank">data resolver</a>
  and <a href="https://github.com/KostyaTretyak/ng-stack/blob/master/src/app/services/api/api-mock/posts-comments.service.ts" target="_blank">PostsCommentsService</a>.
  Each transition between post links has a delay of one second
  (see <a href="https://github.com/KostyaTretyak/ng-stack/blob/master/src/environments/environment.ts" target="_blank">environment.ts</a>).
</p>

<h1>Blog posts</h1>
<div *ngFor="let post of posts" class="post-container">
  <div><img [src]="post.pathAva" class="ava-24" /> {{ post.userName }}</div>
  <div class="post-title"><a [routerLink]="[post.postId]">{{ post.postTitle }}</a></div>
  <div>{{ post.postLead }}</div>
</div>
